body {
    
    background-image: url('../../JOR.jpg');
    font-family: sans-serif;
    width: 100px;
    height: 100px;
}

.box {
    background-color: rgba(0,0,0,0.8);
    color: white;
    width: 65%;
    height: 85%;
    position: absolute;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    padding: 40px;
    margin-top: 7%;
    margin-left: 18%;
}

.title {
    color: white;
    text-align: center;
}

.info {
    font-size: 16px;
    color: white;
}

.job {
    float: left;
}

.gender {
    float: left;
    margin-left: 40px;
    margin-bottom: 30px;
}

.gg {
    float: left;
    padding-left: 10px;
}

input[type=text] {
    width: 100%;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid white;
}

input[type=submit] {
    background-color: #03a9f4;
    border: none;
    color: white;
    height: 35px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}
.msg {
    color: forestgreen;
   
}
